/* Variables */
:root {
  --bg-color: #fdf8f2;
  --primary-color: #7a5a9a;
  --secondary-color: #8783c2;
  --tertiary-color: #b9b6e5;
  --correct-position-color: #ccf7cb;
  --incorrect-position-color: #f7f2cb;
  --incorrect-color: rgba(185, 182, 229, 0.7);
  --modal-background-color: rgba(200, 194, 186, 0.47);
  --text-gradient: linear-gradient(
    135deg,
    #daacc6 0%,
    #cc97dc 50.58%,
    #071f50 102.22%
  );
  --button-gradient: linear-gradient(
    135deg,
    #da9dbf 0%,
    #d8abe6 40.46%,
    #a0b2d9 86.78%
  );
}

/* Font */
@font-face {
  font-family: 'Satoshi-Variable';
  src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../fonts/Satoshi-Variable.woff') format('woff'),
    url('../fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('../fonts/Satoshi-VariableItalic.woff2') format('woff2'),
    url('../fonts/Satoshi-VariableItalic.woff') format('woff'),
    url('../fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

/* Reset and Overall */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Satoshi-Variable', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--bg-color);
  transition: background-color;
  text-align: center;
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* Top Buttons */
.stats-btn,
.instructions-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--tertiary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s ease-in-out opacity 0.3s ease-in-out;
}

.stats-btn {
  left: 1rem;
}

.stats-btn:hover,
.instructions-btn:hover {
  transform: scale(1.05);
}

.stats-btn__icon {
  width: 45%;
}

.instructions-btn__question {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--bg-color);
  backface-visibility: hidden;
}

/* Container */
.container {
  position: relative;
  height: calc(100vh - calc(100vh - 100%));
  padding-top: 15vh;
  padding-bottom: 2vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
}

/* Header */
.header {
  position: relative;
  height: min-content;
  z-index: -1;
}

.title {
  font-size: min(16vw, 8rem);
  font-weight: 600;
  background-image: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  text-transform: lowercase;
  line-height: 1;
  animation: title 3s infinite;
  z-index: 2;
}

@keyframes title {
  0% {
    font-weight: 900;
  }

  50% {
    font-weight: 600;
  }

  100% {
    font-weight: 900;
  }
}

.heart {
  position: absolute;
  top: -2.3rem;
  left: 50%;
  z-index: -1;
  transform: scale(1.3) translateX(6vh);
  animation: heart 3s infinite;
}

@keyframes heart {
  0% {
    transform: scale(1.3) translateX(6vh);
  }

  50% {
    transform: scale(1.5) translateX(5vh);
  }

  100% {
    transform: scale(1.3) translateX(6vh);
  }
}

/* Grid */
.grid {
  display: grid;
  gap: 1rem;
  margin: auto;
}

.grid__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.grid__tile {
  background-color: var(--bg-color);
  border: 0.25rem solid #b9b6e5;
  border-radius: 0.3rem;
  width: min(calc(60 / 390 * 100vw), 6.4rem);
  height: min(calc(60 / 390 * 100vw), 6.4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.grid__tile--incorrect {
  background-color: var(--incorrect-color);
}

.grid__tile--incorrect-position {
  background-color: var(--incorrect-position-color);
}

.grid__tile--correct-position {
  background-color: var(--correct-position-color);
}

.grid__letter {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--secondary-color);
  transform: translateY(-0.1rem);
}

@media (max-width: 400px) {
  .grid__tile--small {
    width: 3.6rem;
    height: 3.6rem;
  }

  .grid__letter--small {
    font-size: 1.4rem;
  }
}

@media (max-height: 920px) {
  .container {
    padding-top: 8vh;
  }
}

@media (max-height: 700px) {
  .container {
    padding-top: 6vh;
  }

  .grid {
    gap: 0.6rem;
  }

  .grid__row {
    gap: 0.6rem;
  }

  .grid__tile {
    width: 4.8rem;
    height: 4.8rem;
  }

  .grid__letter {
    font-size: 2.9rem;
  }
}

/* Keyboard */
.keyboard {
  margin: auto;
}

.keyboard__row {
  display: grid;
  gap: 0.2rem;
  width: fit-content;
  margin: 0 auto;
}

.keyboard__row:not(:last-of-type) {
  margin-bottom: 0.2rem;
}

.keyboard__row:nth-of-type(1) {
  grid-template-columns: repeat(10, 1fr);
}

.keyboard__row:nth-of-type(2) {
  grid-template-columns: repeat(9, 1fr);
}

.keyboard__row:nth-of-type(3) {
  grid-template-columns: 1.5fr repeat(7, 1fr) 1.5fr;
}

.keyboard__key {
  display: inline-flex;
  background-color: var(--bg-color);
  border: 0.25rem solid #b9b6e5;
  border-radius: 0.3rem;
  width: min(calc(34 / 390 * 100vw), 4rem);
  height: min(calc(60 / 390 * 100vw), 6.4rem);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.keyboard__key:hover,
.keyboard__key:active {
  background-color: var(--incorrect-color);
}

@media (max-width: 768px) {
  .keyboard__key:hover {
    background-color: var(--bg-color);
  }
}

@keyframes keyboard-press {
  50% {
    background-color: var(--incorrect-color);
  }

  100% {
    background-color: var(--bg-color);
  }
}

.keyboard__key--max-width {
  width: 100%;
}

.keyboard__letter {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--secondary-color);
  transform: translateY(-0.1rem);
}

/* Clipboard Alert */
.clipboard-alert {
  background-color: var(--bg-color);
  display: inline-block;
  width: min(45rem, 90vw);
  height: min-content;
  padding: 2.5rem;
  border-radius: 1.5rem;
  position: relative;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  transition: opacity 0.3s ease-in-out;
}

.clipboard-alert__text {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  color: var(--primary-color);
}

/* Modals */
.modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: var(--modal-background-color);
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

.modal__content {
  background-color: var(--bg-color);
  display: inline-block;
  width: min(45rem, 90vw);
  height: min-content;
  padding: 4rem 2.5rem 4.5rem;
  border-radius: 1.5rem;
  position: relative;
  text-align: center;
}

@media (max-height: 740px) {
  .modal__content {
    margin: 3rem 0;
  }
}

.modal__close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.modal__close:hover,
.modal__close:active {
  transform: scale(1.1);
}

.modal__title,
.modal__time {
  text-transform: lowercase;
  background-image: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.modal__text {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  color: var(--primary-color);
}

@media (max-width: 786px) {
  .modal__text {
    font-size: 1.4rem;
  }
}

.modal__text:not(:first-of-type) {
  margin-top: 1.6rem;
}

.modal__text--bold {
  font-weight: 700;
}

.modal__example-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 1rem;
  width: min-content;
  gap: 0.5rem;
}

.modal__btn {
  margin-top: 3rem;
  background: var(--button-gradient);
  display: inline-block;
  padding: 1.6rem 3.8rem;
  border-radius: 1.2rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.modal__btn:hover {
  transform: translateY(-0.2rem);
}

.modal__btn:active {
  transform: translateY(0);
}

.modal__btn-text {
  color: var(--bg-color);
  font-size: 2rem;
  font-weight: 600;
  margin-top: -0.2rem;
}

.modal__time {
  font-size: 2.4rem;
  display: block;
  width: fit-content;
  margin: 2rem 0 1rem;
}

/* Hiding Elements */
.transparent {
  opacity: 0;
}

.hidden {
  display: none;
}
